#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.8em 10% 0;
    color: #fff;
}

.home-content {
    width: 37.5rem;
    display: grid;
    gap: 1rem;
}

.home-content h3 {
    font-size: 1.7rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}


.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.my-img img {
    max-width: 22rem;
    border-radius: 50%;
    mix-blend-mode: hard-light;
    object-fit: cover;
    margin-right: -1.25rem;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.btn {
    display: inline-block;
    position: relative;
    padding: .5em;
    border: 1px solid #0ef;
    width: fit-content;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.6s;
}

.btn span {
    color: #fff;
    transition: 0.75s ease-in;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background: #0ef;
    box-shadow: none;
    transition: 0.75s ease-in;
    z-index: -1;
}

.btn:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    background: #0ef;
    box-shadow: 0 0 6px #0ef;
}

.btn:hover span {
    color: #1f242d;
}

/* Responsive Css */

/* For Mobiles */

@media(max-width:480px) {
    #home {
        flex-direction: column;
        justify-content: center;
        padding: 10em 10% 0;
    }

    .home-content {
        margin-top: -5rem;
        padding: 0 3em;
    }

    .my-img img {
        max-width: 20rem;
        margin-top: 5rem;
        margin-bottom: -6rem;
    }
}